{{- imports }}

{%- set color_mappings = {
    "#000000": {"semantic_name": "primaryColor", "replacement": "Color.Black"},
    "#FF0000": {"semantic_name": "errorColor", "replacement": "Color.Red"},
    "#FFFFFF": {"semantic_name": "backgroundColor", "replacement": "Color.White"},
    "#0000FF": {"semantic_name": "accentColor", "replacement": "Color.Blue"}
} -%}

@Composable
fun {{ name.name_part_pascal }}(
{%- for color_hex, mapping in color_mappings.items() if color_hex in used_colors %}
  {{ mapping.semantic_name }}: Color = {{ mapping.replacement }}{{ "," if not loop.last }}
{%- endfor %}
): ImageVector {
  return {{ build_code_with_color_params }}
}